#Visual Studio
.vscode/

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
.Spotlight-V100
.Trashes

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# Grunt
.grunt

# Dependency directory
node_modules
.settings
